<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <h1><%=@user && @user.name%></h1>
    </div>
    <%= render 'layouts/footer'%>
    <!-- 使用debug方法显示调试信息，并且限定只在开发环境中显示 -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
