<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"%>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <script>
        dd.ready(function(){
            datetime = new Date();
            var timestamps = datetime.getFullYear() +""+ (datetime.getMonth()+1) +""+ datetime.getDate()+""+datetime.getHours()+""+datetime.getMinutes() + ""+datetime.getSeconds()

            var nonceStr = "";
            var signature = "";


            dd.runtime.permission.requestAuthCode({
                corpId: "dinga85b0e42df1036b435c2f4657eb6378f",
                onSuccess: function(result) {
                    alert(123);
                    $.ajax({
                        url: "/dingding_login",
                        method: 'get',
                        data: {
                            code: result['code']
                        },
                        success: function(result){
                            nonceStr = result["nonceStr"];
                            signature = result["signature"];

                            dd.device.notification.alert({
                                message: "user_id:  " + result["user_id"] + "  \r\nticket:" + result["ticket"],
                                title: "blablba",//可传空
                                buttonName: "收到",
                                onSuccess : function() {
                                    //onSuccess将在点击button之后回调
                                    /*回调*/
                                },
                                onFail : function(err) {}
                            });
                        }
                    })
                },
                onFail : function(err) {}

            });

            dd.config({
                agentId: 'timestamps', // 必填，微应用ID
                corpId: 'dinga85b0e42df1036b435c2f4657eb6378f',//必填，企业ID
                timeStamp: timestamps, // 必填，生成签名的时间戳
                nonceStr: 'abcdefghijk', // 必填，生成签名的随机串
                signature: '', // 必填，签名
                type: 0,   //选填，0表示微应用的jsapi，1表示服务窗的jsapi，不填默认为0。该参数从dingtalk.js的0.8.3版本开始支持
                jsApiList : [ 'runtime.info', 'biz.contact.choose',
                    'device.notification.confirm', 'device.notification.alert',
                    'device.notification.prompt', 'biz.ding.post',
                    'biz.util.openLink' ] // 必填，需要使用的jsapi列表，注意：不要带dd。
            });

            dd.error(function(error){
                /**
                 {
                    message:"错误信息",//message信息会展示出钉钉服务端生成签名使用的参数，请和您生成签名的参数作对比，找出错误的参数
                    errorCode:"错误码"
                 }
                 **/
                alert('dd error: ' + JSON.stringify(err));
            });
        });
    </script>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <h1><%=@user && @user.name%></h1>
    </div>
    <%= render 'layouts/footer'%>
    <!-- 使用debug方法显示调试信息，并且限定只在开发环境中显示 -->
    <%= debug(current_user) if Rails.env.development? %>
  </body>
</html>
